.tagline{
    font-family: 'Poppins',sans-serif;
}

.signup{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    display: block;
    margin: 10px auto;
    color: black;
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    background-color: whitesmoke;
    outline: none;
}

.sign-up-btn{
    display: block;
    margin: 30px auto 10px;
    width: 150px;
    border-radius: 35px;
}

p{
    text-align: center;
    font-weight: 600px;
}

a{
    text-decoration: none;
    color: white;
}

.login-link a{
    text-decoration: underline;
    color: rgba(228, 116, 31, 0.858);
    cursor: pointer;
}